<footer>
  <div class="social">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
  </div>
  <p>@ wonderlust private limited</p>
  <a href="#">Privacy Terms</a>
</footer>
