<div class="navbar_container">
  <div class="nav_head">
    <i class="fa-solid fa-compass"></i>
    <p>airbnb</p>
  </div>
  <a href="/"><button>Home</button></a>
  <a href="/listings"><button>All Listings</button></a>
  <a href="/listings/new"><button>Add New Listing</button></a>
</div>
