<div class="navbar_container">
  <div class="nav_head">
    <i class="fa-solid fa-compass"></i>
    <p>airbnb</p>
  </div>
  <a href="/"><button>Home</button></a>
  <a href="/listings"><button>All Listings</button></a>
  <a href="/listings/new"><button>Add New Listing</button></a>

  <div class="auth_nav">
    <% if (currentUser) { %>
      <span class="nav_user">Hi, <%= currentUser.username %></span>
      <a href="/auth/logout"><button>Logout</button></a>
    <% } else { %>
      <a href="/auth/login"><button>Login</button></a>
      <a href="/auth/signup"><button>Signup</button></a>
      <a href="/auth/google"><button class="google_btn">Google</button></a>
    <% } %>
  </div>
</div>
