DB_URL=mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/staynest?retryWrites=true&w=majority&appName=Cluster0
SECRET=MySuperSecretKeySJ
PORT=8080
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:8080/auth/google/
BACKFILL_USER_EMAIL=your_existing_user_email@example.com
CLOUD_NAME=your_cloudinary_cloud_name
CLOUD_API_KEY=your_cloudinary_api_key
CLOUD_API_SECRET=your_cloudinary_api_secret
